body{
    background-color: rgba(0, 255, 255, 0.199);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: rgb(255, 255, 255);
    height: 50vh;
    width: 300px;
    border-radius: 20px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b7dfa;
    padding: 40px 20px;
    margin: 15px;
    border-radius: 20px;
}

.content{
    text-align: center;
    padding: 20px;
}

.content h1{
    font-size: 21px;
    font-weight: 400px;
    color: black;
}